- title("Home Page")
%h1
  %i.fa.fa-home
  Home Page
  %small views/pages/home.html.erb
  = l Time.now, :full

%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br
%h1 Hello
%br