%nav.navbar.navbar-default
  .container
    .row.space-top-sm
      .col-lg-1.hidden-md
        
      .col-xs-12.col-sm-9.col-lg-8.nav-center
        .intro
          %h3 Более 30 лет с верой в человека
          %h2 Вадим Александрович Куров
          %h5 психолог - психиатр - психотерапевт
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'
      .col-xs-6.col-sm-3.col-lg-2.nav-contact
        %span +7 (495) 514-44-22
        .clearfix
        %span +7 (495) 452-03-56
        .clearfix
        %span Kurov07@mail.ru
        .pull-right= image_tag "shape4.png", size: '120', style: "opacity:0.7;"


