%nav.navbar.navbar-default.navbar-fixed-top
  .pull-left.space-top-xs= image_tag asset_path("shape4.png"), size: '150', style: "opacity:0.7;"
  .pull-right.space-top-xs= image_tag asset_path("shape4.png"), size: '150', style: "opacity:0.7;"

  .intro
    %h2 Более 30 лет с верой в человека
    %h3 Вадим Александрович Куров
  .container
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'

